@value makerDarkBlue, makerWhite, makerGrey from '../../common/color.css';

.header {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: makerDarkBlue;
  position: relative;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
}

.logout {
  position: absolute;
  top: 1em;
  right: 3em;
  padding: 0.8em;
  border-radius: 8px;
  background-color: makerGrey;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer;
}
