@value makerWhite, makerDarkBlue from '../../common/color.css';

.footer {
  width: 100%;
  text-align: center;
  background-color: makerDarkBlue;
  padding: 1.5rem;
}

.desc {
  display: block;
  color: makerWhite;
  margin-bottom: 0.5em;
}
