@value makerWhite from '../../common/color.css';
@value mediaQuery from '../../common/size.css';

.maker {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  flex: 1;
  height: 30em;
  background-color: makerWhite;
  display: flex;
  min-height: 0;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
